<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KA Go Malle</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'crud/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'crud/css/responsive.css' %}">
</head>
<body>
    <div>
        <header>
            <div class="black-banner">
                <div class="wrapper cfx">
                    <div id="logo">
                        <img src="{% static 'crud/svg/gomalle.svg' %}" alt="Logo van Go Malle">
                    </div>
                    <nav class="nav-main">
                        <ul>
                            <li class="home"><a href="../home">Home</a></li>
                            <li class="announcements"><a href="../aanbod">Ons aanbod</a></li>
                            <li class="eservice"><a href="../wie">Wie is Wie</a></li>
                            <li class="email active"><a href="../contact">Contact</a></li>
                            <li class="blackboard dropdown"><a href="javascript:void(0)" class="dropbtn">Intranet</a>
                              <div class="dropdown-content">
                                  <a href="../richtingen">Richtingen</a>
                                  <a href="../leraren">Leraren</a>
                                  <a href="../klassen">Klassen</a>
                              </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="black-banner">
                <div class="wrapper">
                  <nav class="nav-sub">
                      <h1>Koninklijk Atheneum Go Malle</h1>
                  </nav>
                </div>
            </div>
        </header>
        <section class="main">
            <div class="wrapper">
                <main>
                    <div class="messages">

                      <h2>Stel hier uw vraag</h2>
                      <form id="contact_form" action="#" method="POST">

                        <div>
                            <label for="email">E-mail *</label>
                            <input type="text" name="email" id="email">
                        </div>
						
						<div>
                            <label for="telefoon">Telefoonnummer *</label>
                            <input type="text" name="telefoonNr" id="telefoon">
                        </div>

                        <div>
                            <label for="straat">Straat *</label>
                            <input type="text" name="straat" id="straat">
                        </div>

                        <div>
                            <label for="huisnr">Huisnummer *</label>
                            <input type="text" name="huisnr" id="huisnr">
                        </div>

                        <div>
                            <label for="gemeente">Gemeente *</label>
                            <input type="text" name="gemeente" id="gemeente">
                        </div>

                        <div>
                            <label for="postcode">Postcode *</label>
                            <input type="text" name="postcode" id="postcode">
                        </div>

                        <div>
                            <label for="bericht">Bericht *</label>
                            <textarea name="bericht" id="bericht" rows="5"></textarea>
                        </div>
                        
                        <div>
                            <button type="submit" name="submit">Verzenden</button>
                        </div>
                    </form>
                    </div>
                </main>
            </div>
        </section>
        <footer>
            <div class="black-banner">
                <div class="wrapper cfx">
                    <div id="logo">
                        <img src="{% static 'crud/svg/gomalle.svg' %}" alt="Logo van Go Malle">
                    </div>
                    <nav class="nav-main">
                        <ul>
                            <li class="home"><a href="../home">Home</a></li>
                            <li class="announcements"><a href="../aanbod">Ons aanbod</a></li>
                            <li class="eservice"><a href="../wie">Wie is Wie</a></li>
                          <li class="email active"><a href="../contact">Contact</a></li>
                          <li class="blackboard"><a href="../home">Intranet</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </footer>
    </div>
    
    <script src="{% static 'crud/js/main.js' %}"></script>
</body>
</html>