<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KdG Intranet</title>
    
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
</head>
<body>
    
    <div>
        <header>
            <div class="white-banner">
                <div class="wrapper cfx">
                    <nav class="site-switch">
                        <ul>
                            <li class="active"><a href="home.html">Studentenportaal</a></li>
                            <li><a href="#">Medewerkersportaal</a></li>
                        </ul>
                    </nav>
                    <nav class="nav-utility">
                        <ul>
                            <li class="active"><a href="prikbordbericht-overzicht.html">Prikbord</a></li>
                            <li><a href="#">Ivan Waumans</a></li>
                        </ul>
                        
                    </nav>
                </div>
            </div>
            <div class="black-banner">
                <div class="wrapper cfx">
                    <div id="logo">
                        <img src="svg/KdG_H_Closed_White.svg" alt="Logo van Karel de Grote Hogeschool">
                    </div>
                    <nav class="nav-main-responsive">
                        <ul>
                            <li class="search"><a href="#">Zoeken</a></li>
                            <li class="menu">
                                <a href="#">
                                    <div class="icon-menu">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </div>
                                    Menu
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="nav-main">
                        <ul>
                            <li class="home"><a href="home.html">Home</a></li>
                            <li class="announcements"><a href="#">Mededelingen</a></li>
                            <li class="schedule"><a href="#">Roosters</a></li>
                            <li class="email"><a href="#">KdG Mail</a></li>
                            <li class="blackboard"><a href="#">Blackboard</a></li>
                            <li class="eservice"><a href="#">E-studentservice</a></li>
                            <li class="search"><a href="#">Zoeken</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="white-banner">
                <div class="crumbtrail">
                    <div class="wrapper">
                        <ol>
                            <li><a href="#">Home</a></li>
                            <li>Prikbord</li>
                        </ol>
                        
                        <section class="page-actions">
                            <a href="#" class="edit"></a>
                            <a href="pagina-doorsturen.html" class="forward"></a>
                            <a href="#" class="favorite"></a>
                        </section>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="wrapper bulletin-board">
                
                <h1>Prikbord</h1>
                
                <div class="bulletin-board-items">
                    <article>
                        <header>
                            <div class="category">Gezocht</div>

                            <h2>M&amp;C LOM104 | aansluiten bij LOM101</h2>
                            <p class="date">4 dagen geleden</p>

                            <p>Studenten van LOM104 die voor Management en communicatie wensen aan te sluiten bij LOM101 (vrijdag, 14u15 - 15u45) kunnen dit per mail laten weten aan <a href="mailto:jesse.mortelmans@kdg.be">jesse.mortelmans@kdg.be</a>. Ze mogen vanaf week 4 (= week van 10 oktober) aansluiten bij de lessen van LOM101.</p>

                            <div class="user">
                                <div class="avatar"><img src="images/users/jesse.mortelmans.jpg" alt=""></div>
                                <div class="username">Jesse Mortelmans</div>
                            </div>
                        </header>
                        <aside>
                            <div class="comment">
                                <div class="user">
                                    <div class="avatar">
                                        <img src="images/users/ellen.roelands.jpg" alt="">
                                    </div>
                                    <div class="username"><a href="#">Ellen Roelands</a></div>
                                </div>
                                <div class="message">Wij hebben op dat moment een les vrees ik.</div>
                            </div>
                            <div class="comment">
                                <div class="user">
                                    <div class="avatar">
                                        <img src="images/users/anoniem.png" alt="">
                                    </div>
                                    <div class="username"><a href="#">Ivan Waumans</a></div>
                                </div>
                                <div class="message">Vraag aan Guy Timmermans om de rooster te laten aanpassen.</div>
                            </div>
                            <div class="react">
                                <a href="#">Reageer</a>
                            </div>
                        </aside>
                    </article>

                    <article>
                        <header>
                            <div class="category">Andere</div>

                            <h2>Vervanging van Bart Van Hoorick</h2>
                            <p class="date">5 dagen geleden</p>

                            <p>We hebben een vervanger aangenomen voor Bart Van Hoorick tijdens zijn afwezigheid wegens ziekte. Zijn naam is Niels Beirnaert. Hij start zeker volgende week. We bekijken nog of hij deze vrijdag al kan opstarten. Hou jullie lesrooster in het oog.</p>

                            <div class="user">
                                <div class="avatar">
                                    <img src="images/users/inge.heirbaut.jpg" alt="">
                                </div>
                                <div class="username">Inge Heirbaut</div>
                            </div>
                        </header>
                        <aside>
                            <div class="react">
                                <a href="#">Reageer</a>
                            </div>
                        </aside>
                    </article>

                    <article>
                        <header>
                            <div class="category">Andere</div>

                            <h2>Slides 'Efficiënt tijdsbeheer'</h2>
                            <p class="date">2 weken geleden</p>

                            <p>Planning en bewust omgaan met je tijd is een belangrijke factor in je slaagkansen in het hoger onderwijs. Tijdens de inloopcursus (vakantiecursus) wiskunde werd een sessie 'Efficiënt tijdsbeheer' gegeven, met tips waar iedereen zijn voordeel mee kan doen, en eerstejaars in het bijzonder. Warm aanbevolen!</p>

                            <p>Download <a href="http://ivanwaumans.multimediatechnology.be/downloads/Slides-Efficient-Tijdsbeheer-Inloopcursus.pdf">de slides</a>.</p>

                            <div class="user">
                                <div class="avatar"><img src="images/users/anoniem.png" alt=""></div>
                                <div class="username">Hendrik De Cooman</div>
                            </div>
                        </header>
                        <aside>
                            <div class="react">
                                <a href="#">Reageer</a>
                            </div>
                        </aside>
                    </article>

                    <article>
                        <header>
                            <div class="category">Andere</div>

                            <h2>Korting Broodjesbar Matinal</h2>
                            <p class="date">2 weken geleden</p>

                            <p>Studenten kunnen bij Broodjesbar Matinal (gelegen hoek St Jozefstraat - Lange leemstraat) tijdens schooldagen terecht voor een smaakvol broodje. </p>

                            <p>KdG Stuvo zorgt voor een subsidiëring van €0,60 op de geafficheerde verkoopsprijs op broodjes, pannini’s en snacks. </p>

                            <p>Studenten dienen zich wel kenbaar te maken met hun studentenkaart en vullen een registratieformulier in aan de kassa. </p>

                            <p>Meer info: <a href="http://broodjeszaak-matinal.be">http://broodjeszaak-matinal.be</a></p>

                            <div class="user">
                                <div class="avatar"><img src="images/users/ellen.roelands.jpg" alt=""></div>
                                <div class="username">Ellen Roelands</div>
                            </div>
                        </header>
                        <aside>
                            <div class="react">
                                <a href="#">Reageer</a>
                            </div>
                        </aside>
                    </article>

                    <article>
                        <header>
                            <div class="category">Event</div>

                            <h2>Correctie: Infosessie voor ION101A &amp; B</h2>
                            <p class="date">2 weken geleden</p>

                            <p>Bericht aan de studenten ION101A &amp; B</p>

                            <p>Beste studenten, </p>

                            <p>Naar jaarlijkse gewoonte geven we een infosessie voor alle nieuwe studenten. We bespreken topics als leerkrediet, examen, laptopexamens, wie-is-wie bij studentenzaken. Het zal plaatsvinden woensdag 12 oktober van 13.00 - 14.30u in lokaal GR 509. </p>

                            <p>Met vriendelijke groeten, <br>
                                Said Trari <br>
                                Studieloopbaancoördinator</p>

                            <div class="user">
                                <div class="avatar"><img src="images/users/sais.trari.Jpeg" alt=""></div>
                                <div class="username">Said Trari</div>
                            </div>
                        </header>
                        <aside>
                            <div class="react">
                                <a href="#">Reageer</a>
                            </div>
                        </aside>
                    </article>

                    <article>
                        <header>
                            <div class="category">Boekenverkoop</div>

                            <h2>Boeken databanken en programmeren te koop</h2>
                            <p class="date">3 weken geleden</p>

                            <p>Wegens aanpassing van mijn traject, heb ik volgende boeken te koop:</p>
                            
                            <ul>
                                <li>handboek html en css3 - peter doolaard €25 (nieuwprijs €29,95)</li>
                                <li>javascript handboek - N.Vaes €20 (nieuwprijs €27,50)</li>
                                <li>leerboek Oracle PL/SQL(3de druk) - G.Rattink €35 (nieuwprijs €39,95)</li>
                                <li>OO programmeren 2 - eBook - K.Behiels-M.Goovaerts (nog niet geactiveerd) €45 (nieuwprijs €48,35)</li>
                                <li>OO programmeren in Java handboek - N.Vaes €50 (nieuwprijs €55)</li>
                            </ul>
                            
                            <p>indien alle bovenstaande boeken samen gekocht worden: €150</p>

                            <div class="user">
                                <div class="avatar"><img src="images/users/patrick.vanpestel.jpg" alt=""></div>
                                <div class="username">Patrick van Pestel</div>
                            </div>
                        </header>
                        <aside>
                            <div class="comment">
                                <div class="user">
                                    <div class="avatar">
                                        <img src="images/users/anoniem.png" alt="">
                                    </div>
                                    <div class="username"><a href="#">Marie-Leen VanLathem</a></div>
                                </div>
                                <div class="message">100 euro ook goed?</div>
                            </div>
                            
                            <div class="react">
                                <a href="#">Reageer</a>
                            </div>
                        </aside>
                    </article>
                </div>
                
                <p><a href="prikbordbericht-toevoegen.html">Een prikbord bericht toevoegen</a></p>
            </div>
        </main>
        <footer>
            <div class="black-banner">
                <div class="wrapper">
                    <div class="nav-footer">
                        <div class="nav-group third">
                            <h2>Handig</h2>
                            <ul>
                                <li><a href="#">Woordenlijst</a></li>
                                <li><a href="#">Onthaal nieuwe studenten</a></li>
                                <li><a href="#">Contacteer de redactie</a></li>
                            </ul>
                        </div>

                        <div class="nav-group third">
                            <h2>Karel de Grote<br>Hogeschool</h2>
                            <ul>
                                <li><a href="http://www.kdg.be">www.kdg.be</a></li>
                            </ul>
                        </div>
                        
                        <div class="nav-group third">
                            <h2>Mijn KdG account</h2>
                            <ul>
                                <li><a href="#">Mijn Profiel beheren</a></li>
                                <li><a href="#">Mijn Favorieten</a></li>
                                <li><a href="#">Mijn Prikbordberichten</a></li>
                                <li><a href="#">Mijn Mededelingen</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    
    <script src="js/main.js"></script>
    
</body>
</html>