<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KA Go Malle</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'crud/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'crud/css/responsive.css' %}">
</head>
<body>
    <div>
        <header>
            <div class="black-banner">
                <div class="wrapper cfx">
                    <div id="logo">
                        <img src="{% static 'crud/svg/gomalle.svg' %}" alt="Logo van Go Malle">
                    </div>
                    <nav class="nav-main">
                        <ul>
                            <li class="home"><a href="../home">Home</a></li>
                            <li class="announcements"><a href="../aanbod">Ons aanbod</a></li>
                            <li class="eservice active"><a href="../wie">Wie is Wie</a></li>
                          <li class="email"><a href="../contact">Contact</a></li>
                          <li class="blackboard dropdown"><a href="javascript:void(0)" class="dropbtn">Intranet</a>
                              <div class="dropdown-content">
                                  <a href="../richtingen">Richtingen</a>
                                  <a href="../leraren">Leraren</a>
                                  <a href="../klassen">Klassen</a>
                              </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="black-banner">
                <div class="wrapper">
                  <nav class="nav-sub">
                      <h1>Koninklijk Atheneum Go Malle</h1>
                  </nav>
                </div>
            </div>
        </header>
        <section class="main">
            <div class="wrapper">
                <aside>
                    <div class="schedule">
                        {% for leraar in alleLeraren %}
                        <a href="#{{leraar.id}}">{{leraar.voornaam}} {{leraar.naam}}</a>
                        {% endfor %}
                    </div>
                </aside>
                <main>
                    <div class="messages">
                      <h2>Onze leerkrachten</h2>
                        {% for leraar in alleLeraren %}
                            <h3 id="{{leraar.id}}">{{leraar.voornaam}} {{leraar.naam}}</h3>
                            <p>Email: {{leraar.email}} </p>
                            <img src="{% static 'crud/images/users/' %}{{leraar.foto}}" alt="{{leraar.voornaam}} {{leraar.naam}}" width="100" height="100">
                            <hr>
                        {% endfor %}
                    </div>
                </main>
            </div>
        </section>
        <footer>
            <div class="black-banner">
                <div class="wrapper cfx">
                    <div id="logo">
                        <img src="{% static 'crud/svg/gomalle.svg' %}" alt="Logo van Go Malle">
                    </div>
                    <nav class="nav-main">
                        <ul>
                            <li class="home"><a href="..home">Home</a></li>
                            <li class="announcements"><a href="../aanbod">Ons aanbod</a></li>
                            <li class="eservice active"><a href="../wie">Wie is Wie</a></li>
                          <li class="email"><a href="../contact">Contact</a></li>
                          <li class="blackboard"><a href="../home">Intranet</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </footer>
    </div>
    
    <script src="{% static 'crud/js/main.js' %}"></script>
</body>
</html>